@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');


.App {
  text-align: center;
}
.rbc-calendar, .rbc-calendar * {
  font-family: 'Dangrek', cursive !important;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F1FAEE;
}


.App-header {
  background-color: #457B9D;
  padding: 10px 1120px;
  display: flex;
  justify-content: space-between;
  align-items: right; /* Align items vertically */
}

.App-header-buttons {
  display: flex;
  gap: 10px;
}

.App-header-buttons button {
  margin-left: 10px;
}

.App-body {
  margin-top: 20px;
}
